# OSX
.DS_Store

# Xcode
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
ios/.xcode.env.local

# Android/IntelliJ
*.iml
.idea
.gradle
local.properties
*.hprof
.cxx/
*.keystore
!debug.keystore

# Android build outputs
android/.gradle/
android/app/build/
android/build/
android/*/build/
android/.idea/

# node.js
node_modules/
npm-debug.log
yarn-error.log

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Bundle artifact
*.jsbundle

# CocoaPods
ios/Pods/

# Expo
.expo/
.expo-shared/

# Metro
.metro-health-check*

# Temporary files
*.log
*.tmp
*.temp
